@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 214, 219, 220;

  --swiper-theme-color: #be873b !important;
  --swiper-pagination-bullet-size: 18px;
  --swiper-pagination-bullet-horizontal-gap: 8px;
}

body {
  color: rgb(var(--foreground-rgb));
}

span.swiper-pagination-bullet {
  border: 2px solid #be873b;
  background: transparent;
  opacity: 1;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

span.swiper-pagination-bullet {
  transform: scale(0.66) !important;
}

span.swiper-pagination-bullet-active {
  transform: scale(1) !important;
}