@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 214, 219, 220;

  --swiper-theme-color: #be873b !important;
  --swiper-pagination-bullet-size: 18px;
  --swiper-pagination-bullet-horizontal-gap: 6px;

  --toastify-toast-top: 96px !important;
}

body {
  color: rgb(var(--foreground-rgb));
}

span.swiper-pagination-bullet {
  border: 2px solid #be873b;
  background: transparent;
  opacity: 1;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

span.swiper-pagination-bullet {
  transform: scale(0.75) !important;
}

span.swiper-pagination-bullet-active {
  transform: scale(.85) !important;
}

.heading-headline {
  @apply text-[5vw] leading-[6.2vw] max-sm:text-[40px] max-sm:leading-[46px];
}

.heading-1 {
  @apply text-[3vw] leading-[1.2em] max-3xl:text-[3.2vw] max-xl:text-[3.6vw] max-lg:text-[4.2vw] max-md:text-[36px] max-xs:text-[32px];
}

.heading-2 {
  @apply text-[38px] leading-[48px];
}

.heading-3 {
  @apply text-[32px] leading-[38px];
}

.heading-4 {
  @apply text-[24px] leading-[32px];
}

.body-1 {
  @apply text-[20px] leading-[28px];
}

.body-2 {
  @apply text-[16px] leading-[24px];
}

.body-3 {
  @apply text-[14px] leading-[20px];
}

.body-4 {
  @apply text-[12px] leading-[18px];
}

.dotted {
  @apply relative h-0.5 w-full overflow-hidden whitespace-nowrap font-sans after:absolute after:-top-4 after:left-0 after:inline-block after:align-[3px] after:text-base after:tracking-[6px] after:content-["...................................................................................................................................................................................................................."]
}

.dotted-white {
  @apply after:text-white
}

.dotted-black {
  @apply after:text-black
}