@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 214, 219, 220;

  --swiper-theme-color: #be873b !important;
  --swiper-pagination-bullet-size: 18px;
  --swiper-pagination-bullet-horizontal-gap: 6px;

  --toastify-toast-width: 100% !important;
  --toastify-toast-bd-radius: 10px !important;
  --toastify-color-success: #269D9E !important;
  --toastify-text-color-success: #fff !important;
  --toastify-font-family: var(--font-jost) !important;
}

body {
  color: rgb(var(--foreground-rgb));
}

span.swiper-pagination-bullet {
  border: 2px solid #be873b;
  background: transparent;
  opacity: 1;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

span.swiper-pagination-bullet {
  transform: scale(0.75) !important;
}

span.swiper-pagination-bullet-active {
  transform: scale(.85) !important;
}

.heading-headline {
  @apply text-[clamp(40px,5vw,68px)] leading-[clamp(46px,6.2vw,84px)];
}

.heading-1 {
  @apply text-[clamp(32px,3vw,58px)] leading-[1.2em];
}

.heading-2 {
  @apply text-[38px] leading-[48px];
}

.heading-3 {
  @apply text-[32px] leading-[40px];
}

.heading-4 {
  @apply text-[24px] leading-[32px];
}

.body-1 {
  @apply text-[20px] leading-[28px];
}

.body-2 {
  @apply text-[16px] leading-[24px];
}

.body-3 {
  @apply text-[14px] leading-[20px];
}

.body-4 {
  @apply text-[12px] leading-[18px];
}

.dotted {
  @apply relative h-0.5 w-full overflow-hidden whitespace-nowrap font-sans after:absolute after:-top-4 after:left-0 after:inline-block after:align-[3px] after:text-base after:tracking-[6px] after:content-["...................................................................................................................................................................................................................."]
}

.dotted-white {
  @apply after:text-white
}

.dotted-black {
  @apply after:text-black
}