@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 214, 219, 220;

  --swiper-theme-color: #be873b !important;
  --swiper-pagination-bullet-size: 18px;
  --swiper-pagination-bullet-horizontal-gap: 6px;

  --toastify-toast-width: 100% !important;
  --toastify-toast-bd-radius: 10px !important;
  --toastify-color-success: #269D9E !important;
  --toastify-text-color-success: #fff !important;
  --toastify-font-family: var(--font-jost) !important;
}

body {
  color: rgb(var(--foreground-rgb));
  -webkit-locale: auto;
}

span.swiper-pagination-bullet {
  border: 2px solid #be873b;
  background: transparent;
  opacity: 1;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

span.swiper-pagination-bullet {
  transform: scale(0.75) !important;
}

span.swiper-pagination-bullet-active {
  transform: scale(.85) !important;
}

.heading-headline {
  @apply text-[clamp(40px,5vw,68px)] leading-[1.25em] -my-[clamp(5px,0.625vw,8.5px)] lang-zh:leading-[1.35em] lang-zh:-my-[clamp(7px,0.875vw,11.9px)] ;
}

.heading-1 {
  @apply text-[clamp(32px,3vw,58px)] leading-[1.2em] -my-[clamp(3.2px,0.3vw,5.8px)] lang-zh:leading-[1.3em] lang-zh:-my-[clamp(4.8px,0.45vw,8.7px)];
}

.heading-2 {
  @apply text-[38px] leading-[48px] -my-[5px];
}

.heading-3 {
  @apply text-[32px] leading-[40px] -my-[4px];
}

.heading-3.lg-resize {
  @apply max-lg:text-[24px] max-lg:leading-[32px]
}

.heading-4 {
  @apply text-[24px] leading-[32px] -my-[4px];
}

.heading-weight-1 {
  @apply lang-en:font-bold lang-zh:font-normal;
}

.heading-weight-2 {
  @apply lang-en:font-bold lang-zh:font-normal;
}

.body-1 {
  @apply text-[20px] leading-[28px] -my-[4px] lang-en:font-normal lang-zh:text-[18px] lang-zh:font-light lang-zh:leading-[32px] lang-zh:-my-[6px];
}

.body-2 {
  @apply text-[16px] leading-[24px] -my-[4px];
}

.body-3 {
  @apply text-[14px] leading-[20px] -my-[3px];
}

.body-4 {
  @apply text-[12px] leading-[18px] -my-[3px];
}

.body-weight-1 {
  @apply lang-en:font-bold lang-zh:font-light;
}

.body-inline {
  @apply my-0;
}

.dotted {
  @apply relative h-0.5 w-full overflow-hidden whitespace-nowrap font-sans after:absolute after:-top-4 after:left-0 after:inline-block after:align-[3px] after:text-base after:tracking-[6px] after:content-["...................................................................................................................................................................................................................."]
}

.dotted-white {
  @apply after:text-white
}  

.dotted-black {
  @apply after:text-black
}

