<html>
    <body>
        <p>You have a new career submission of job position of <% career.name %>.</p>
        <p>His / Her information are as below:</p>
        <p>FirstName: <% firstName %></p>
        <p>LastName: <% lastName %></p>
        <p>Email: <% email %></p>
        <p>Phone: <% phone %></p>
    </body>
</html>